<md-dialog aria-label="Status Detail" flex="80">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Status Detail</h2>
                <span flex></span>
                <!--<md-button class="md-icon-button" ng-click="cancel()">-->
                    <!--<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>-->
                <!--</md-button>-->
            </div>
        </md-toolbar>

        <md-dialog-content layout="column" layout-padding>
            <div layout="row">
                <table flex>
                    <tr>
                        <th style="width: 10%">Key</th>
                        <th flex>Value</th>
                    </tr>
                    <tr ng-repeat="(statusKey, statusValue) in statusDetailDic">
                        <td>{{ statusKey }}</td>
                        <td>{{ statusValue }}</td>
                    </tr>
                </table>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <!--<md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>-->
            <!--More on Wikipedia-->
            <!--</md-button>-->
            <span flex></span>
            <!--<md-button ng-click="answer('not useful')">-->
                <!--Cancel-->
            <!--</md-button>-->
            <md-button ng-click="answer('useful')">
                Ok
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>