<md-content flex ng-init="listenAuthStateChanged()">
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Deploy status">
            <md-content class="md-padding" layout="column">

                <div layout="row">
                    <md-list-item class="secondary-button-padding">
                        <p>Refresh</p>
                        <md-button class="md-secondary" ng-click="onBtnRefreshClicked()"><i class="fas fa-sync-alt"></i></md-button>
                    </md-list-item>
                </div>

                <div layout="row" ng-repeat="(clientName, clientStatusList) in deployClientStatusDic">
                    <div flex>
                        <md-list-item class="secondary-button-padding">
                            <p>{{ clientName }}</p>
                        </md-list-item>
                        <md-subheader class="md-no-sticky">Recently status list</md-subheader>
                        <md-list-item class="secondary-button-padding" ng-repeat="(statusIndex, status) in clientStatusList">
                            <p> <i class="fas fa-arrow-alt-circle-right"></i> <span>{{ status.adcProcessStatus }}</span> - <span>{{ status.adcPushMsg }}</span> --- {{ status.adcUpdateDateTime }}</p>
                            <md-button class="md-secondary" ng-click="onBtnDetailClicked(status)">Detail</md-button>
                        </md-list-item>
                        <md-divider ></md-divider>
                    </div>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Help" >
            <md-content class="md-padding" >
                <div layout="row">
                    <h2>상태코드</h2>
                </div>
                <div layout="row">
                    <table flex>
                        <tr>
                            <th width="10%">코드</th>
                            <th flex>설명</th>
                        </tr>
                        <tr ng-repeat="(statusCode, statusCodeDesc) in deployClientStatusCodeDic">
                            <td>{{ statusCode }}</td>
                            <td>{{ statusCodeDesc }}</td>
                        </tr>
                    </table>
                </div>
            </md-content>
        </md-tab>

    </md-tabs>
</md-content>